.card
  .card-body
    .row
      .col.text-center
        = link_to new_user_session_path, class: 'btn btn-outline-secondary' do
          ログインする
      .col.text-center
        = link_to new_user_registration_path, class: 'btn btn-outline-secondary' do
          新しく会員登録する
